* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1280px;
  height: 720px;
margin: auto;
font-family: 'JetBrains Mono', monospace;
background-color: #2F2E41;
}

.content {
  width: 1080px;
  padding-top: 71px;
  margin: auto;
}

nav {
  display: flex;
justify-content: space-between;
align-items: center;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  font-size: 14px;
}
ul li a {
  opacity: 0.8;
  font-weight: 400;
  transition: opacity 2s ease-in-out;
}
ul li a:hover{
  opacity: 1;
  font-weight: bold;
  transition: opacity 2s ease-in-out;
  
}
a{
  color: #FFF;
  text-decoration: none;
}
main { 
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
section {
  width: 620px;

}
h1 {
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */


color: #FFFFFF;
padding-bottom: 60px;
}
span {
color: #00BFA6;
}
section p {
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  
  text-align: center;
  
  color: #C2C2C2;
}
/*section p + p {
 padding-top: 20px; 
}*/

#padlock { 
position: fixed;
bottom: 0;
left: 0;
padding-bottom: 20px;
padding-left: 20px;
}


footer {
display: flex;
justify-content: center;
padding-top: 154px;
font-weight: 400;
font-size: 14px;
line-height: 28px;
margin: auto;

text-align: center;

color: #FFFFFF;
}

.line {
 width: 570px;
 border-top: 1px solid #00BFA6; 
 padding-top: 30px;
}